---
layout: default
---

<section class="section-padding pt-4">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
           <article class="post-grid mb-5">
              <h2 class="mb-1 mt-2 post-title"><a href="blog-single.html">Union Fashion Developers</a></h2>
              <div class="post-content mt-4">
                 <p align="center"><a href="http://developers.union.fashion/apis.json" target="_blank"><img src="/images/apis-json-icon.png" width="75" align="right" alt="Download APIs.json"></a></p>
                 <p>This is where you will find everything you need to build web and mobile applications, as well as integrate Union Fashion products and services into your business operations. Allowing internal, partners and 3rd party developers to build what they need using Union Fashion digital resources.</p>
              </div>
           </article>
            <div class="row">

              {% for api_json in site.apis %}
                {% if api_json.name != 'Union Fashion' %}

                  {% assign documentation_url = "none" %}
                  {% for api in api_json.apis %}
                    {% for property in api.properties %}
                      {% if property.type == 'x-documentation' %}
                        {% assign documentation_url = property.url %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                  {% assign collection_id = "none" %}
                  {% for api in api_json.apis %}
                    {% for property in api.properties %}
                      {% if property.type == 'x-postman-collection' %}
                        {% assign collection_url = property.url %}
                        {% assign collection_id = collection_url | replace: "https://www.getpostman.com/collections/", "" %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                  {% assign github_repository_url = "none" %}
                  {% for api in api_json.apis %}
                    {% for property in api.properties %}
                      {% if property.type == 'x-github-repository' %}
                        {% assign github_repository_url = property.url %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                  <div class="col-lg-6">
                    <article class="post-grid mb-5">

                       <h3 class="post-title mb-1 mt-2"><a href="/apis/{{ api_json.name | downcase | replace: " ", "-" }}/">{{ api_json.name }}</a></h3>
                       <div class="post-content mt-4">
                          <p>{{ api_json.description }} (<a href="/apis/{{ api_json.name | downcase | replace: " ", "-" }}/">view details</a>)</p>
                       </div>
                       <div style="width: 33%; display: inline;">
                         <a href="{{ documentation_url }}"><img style="margin-top: -22px;" src="https://kinlane-productions.s3.amazonaws.com/postman/postman-documentation-button.png" width="120">
                       </div>
                       <div style="width: 33%; display: inline;">
                         <div class="postman-run-button" data-postman-action="collection/import" data-postman-var-1="{{ collection_id }}"></div>
                          <script type="text/javascript">
                            (function (p,o,s,t,m,a,n) {
                              !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
                              !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
                                (n = o.createElement("script")),
                                (n.id = s+t), (n.async = 1), (n.src = m), n
                              ));
                            }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
                          </script>
                       </div>
                       <div style="width: 33%; display: inline; text-align:right;">
                         <a href="{{ github_repository_url }}" target="_blank"><img style="margin-top: -2px;" src="/images/github-logo.png" width="35" align="right"></a>
                       </div>
                    </article>
                  </div>
                 {% endif %}
               {% endfor %}

            </div>

         </div>

         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="sidebar sidebar-right">
               <div class="sidebar-wrap mt-5 mt-lg-0">

                {% include lead-sidebar.html %}
                {% include primary-sidebar.html %}
                {% include apis-tags-sidebar.html %}

               </div>
            </div>
         </div>
      </div>
   </div>
</section>
