<section class="footer-2 section-padding gray-bg pb-5">
	<ul class="list-inline footer-socials-2 text-center">
		<li class="list-inline-item"><a href="http://union.fashion">Union Fashion Website</a></li>
		<li class="list-inline-item"><a href="/">Docs</a></li>
		<li class="list-inline-item"><a href="/signup">Signup</a></li>
		<li class="list-inline-item"><a href="/login">Login</a></li>
    <li class="list-inline-item"><a href="/blog/">Blog</a></li>
    <li class="list-inline-item"><a href="/support/">Support</a></li>
		<li class="list-inline-item"><a href="http://postman.com">Postman</a></li>
  </ul>
</section>

<script src="/plugins/jquery/jquery.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/bootstrap/js/popper.min.js"></script>
<script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/plugins/slick-carousel/slick.min.js"></script>
<script src="/plugins/magnific-popup/magnific-popup.js"></script>
<script src="/plugins/instafeed-js/instafeed.min.js"></script>
<script src="/js/custom.js"></script>
