<meta charset="utf-8">
<title>{{ site.name }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/plugins/themify/css/themify-icons.css">
<link rel="stylesheet" href="/plugins/slick-carousel/slick-theme.css">
<link rel="stylesheet" href="/plugins/slick-carousel/slick.css">
<link rel="stylesheet" href="/plugins/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="/plugins/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet" href="/plugins/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/utilities.js"></script>
