<div class="sidebar-widget mb-5 ">
   <h4 class="text-center widget-title">Platform</h4>
   <div class="media border-bottom py-3 sidebar-post-item">
      <div class="media-body">
         <span class="text-muted letter-spacing text-uppercase font-sm">Home</span>
         <h4 ><a href="blog-single.html">The default README for all APIs.</a></h4>
      </div>
   </div>
   <div class="media border-bottom py-3 sidebar-post-item">
      <div class="media-body">
         <span class="text-muted letter-spacing text-uppercase font-sm">Infrastructure</span>
         <h4 ><a href="blog-single.html">Explore infrastructure collections.</a></h4>
      </div>
   </div>
   <div class="media py-3 sidebar-post-item">
      <div class="media-body">
         <span class="text-muted letter-spacing text-uppercase font-sm">Operations</span>
         <h4 ><a href="blog-single.html">Explore operational collections.</a></h4>
      </div>
   </div>
</div>
