---
layout: default
---

<section class="section-padding pt-4">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
           <article class="post-grid mb-5">
              <h2 class="mb-1 mt-2 post-title">The Union Fashion Developer Blog</h2>
              <p>This blog is dedicated to telling the story of our API-first operations, helping dive into the details of how we are operating our business.</p>
           </article>
            <div class="row">
              {% for post in site.posts %}
              <div class="col-lg-6">
            		<article class="post-grid mb-5">
            			<a class="post-thumb mb-4 d-block" href="{{ post.url | prepend: site.url }}">
            				<img src="{{ post.image }}" alt="" class="img-fluid">
            			</a>
            			<span class="font-sm text-color letter-spacing text-uppercase post-meta font-extra">Experience</span>
            			<h3 class="post-title mb-1 mt-2"><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h3>

            			<div class="post-content mt-4">
            				<p>{{ post.content | truncate: 250, ".." }} <a href="{{ post.url | prepend: site.url }}">read more</a></p>
            			</div>
            		</article>
            	</div>
              {% endfor %}
            </div>
            <p>If you are looking for less technical stories about what is going on at Union Fashion, we recommend you check out [the main Union Fashion blog](http://union.fashion/blog/).</p>
         </div>

         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="sidebar sidebar-right">
               <div class="sidebar-wrap mt-5 mt-lg-0">

                 {% include tags-sidebar.html %}

               </div>
            </div>
         </div>
      </div>
   </div>
</section>
